<!doctype html>
<link rel=stylesheet href=assets/styles/index.css>
<title>Add beer</title>
<h1>Add beer</h1>
<form action=/ method=post>
  <label>Name <input name=name></label>
  <label>Birthday <input name=born></label>
  <label>
    Cover
    <input name=profilePhoto type=file accept=image/*>
  </label>
  <label>
    Tell something about yourself
    <textarea
      name=profileAbout
      rows=5
    ></textarea>
  </label>
  <ul id="beer_results">

  </ul>
  <button>Next</button>
</form>

<form onsubmit="beerSearch(event)">
  <input type="text" name="derp" id="searchName" value="">
  <button type="submit" name="button">search</button>
</form>

<script type="text/javascript">

  function beerSearch(event) {
    fetch('https://api.punkapi.com/v2/beers?beer_name=' + document.getElementById("searchName").value , {
      method: 'GET',
      headers: {'HTTP_ACCEPT': 'application/json'}
      })
    .then(response => response.json())
    .then(function(data) {
      let searchResults = data;
      for (var i = 0; i < searchResults.length; i++) {
        document.getElementById('beer_results').innerHTML +=
        '<input type="radio" name="' + searchResults[i] + '">' + searchResults[i].name
      }
      console.log(searchResults);
    })
    .catch(error => console.error('Error:', error))
    event.preventDefault()
  }

</script>
