<!doctype html>
<link rel=stylesheet href=assets/styles/index.css>
<title>Sign-up</title>
<div class="body__container">
<h1>sign-up</h1>
<form class="form" action=/sign-up method=post>
  <label>
    Username
    <input name=username>
  </label>
  <label>
    Password
    <input name=password type=password>
  </label>
  <button>Next</button>
</form>
</div>
