<section class="recent__container" >
  <h2 class="recent__title">Recent beers</h2>

  <div class="beers__list">

  <% if (user.beers.length > 0) { %>
    <% for(let i = 0; i < 4; i++) { %>
      <div class="beer__container" style="background-image: url(<%- user.beers[i].beer.img %>)">
        <div class="beer__info">
          <h4 class="info__title">
            <%= user.beers[i].beer.name %>
          </h4>
          <p class="info__text">
            <%= user.beers[i].beer.bid %>
          </p>
        </div>
      </div>
    <% } %>
  <% } %>

    </div>



</section>
