@import "./partials/reset.css";
@import "./partials/animations.css";
@import "./partials/navigation.css";
@import "./partials/sidebar.css";
@import "./partials/beers.css";


.primary__button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
}

.primary__button a {
  color: #fff;
}

.header__container {
  z-index: 1;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 480px;
  height: 80vh;
  margin-bottom: 4rem;
}

.header__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 70vh;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
  z-index: 0;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  animation: headerAnimationSmall 1s forwards ;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__background--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
  z-index: 0;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  animation: headerAnimation 1s forwards ;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 100%;
  padding: 0 10%;
  height: auto;
  margin: 3em 0 0;
  color: #fff;
}

.header__container .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 60%;
  min-width: 420px;
  background-color: rgba(255, 255, 255, 1);
  padding: 4rem;
  border-radius: 20px;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .form label {
  width: 100%;
  color: #000;
  display: none;
}

.header__container .form input {
  border: 1px #999 solid;
}

.header__container .form button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
}

.header__container .sign__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 60%;
  min-width: 420px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 1rem;
  padding: 2rem;
  color: #000;
  border-radius: 20px;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .sign__container p {
  color: #999;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.sign__container .sign__button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #999;
  font-size: 1rem;
  color: #999;
  border-radius: 50px;
  background: transparent;
}

.sign__button a {
  color: #999;
}


.header__container .info__container h1 {
  font-size: 5rem;
}

.header__button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
}

.header__button a {
  color: #fff;
}


.section__container {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 4rem 0;
  background-color: #fff;
  z-index: 2;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.section__container .section__title {
  color: #1745ac;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
}

.card__container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  transition-duration: .25s;
}

.card__container:hover {
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
}

.card__container::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  height: 80%;
  width: 1px;
  background-color: #666;
  transform: translateX(-50%) translateY(-50%);
  opacity: .1;
}

.card__container .info__container {
  grid-column: 1;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card__container:nth-of-type(even) .info__container{
  grid-column: 2;
  grid-row: 1;
}

.card__container h3 {
  color: #1745ac;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.card__container p {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.card__container .image__container {
  grid-column: 2;
  width: 100%;
  padding: 5% 10%;
}

.card__container:nth-of-type(even) .image__container{
  grid-column: 1;
  grid-row: 1;
}

.card__container img {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
}

.footer__container {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #999;
}

.footer__container .footer__button {
  position: relative;
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
  margin-left: 50%;
  transform: translateX(-50%);
}

.footer__container .footer__button a {
  color: #fff;
}






.right__panel .empty__state__container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.right__panel .empty__state__container .empty__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.right__panel .empty__state__container button {
  padding: 13px 25px;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
  background: -moz-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: linear-gradient(to right, #1745ac 0%, #3c89ff 100%)
}

.right__panel .empty__state__container button:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22)
}

.beer__search {
  position: absolute;
  width: 50%;
  top: 50%;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3)) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: .5s
}

.beer__search.active {
  position: absolute;
  width: 50%;
  top: 1rem;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3))
}

.beerResults{
  width: 200px;
  height: 400px;
  margin-right: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
