* {
  box-sizing: border-box
}

… label, input, textarea, button {
  margin: 1em 0
}

input, textarea, button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea {
  width: 100%
}

body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
}

body h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

body a {
  text-decoration: none
}

img {
  max-width: 100%;
}

main {
  background-color: #fff;
  color: #000;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  z-index: 3;
}

.navigation .navigation__image {
  height: 30px;
  width: auto
}

.navigation .navigation__button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #fff
}

.navigation .navigation__button a {
  color: #000
}

.header__container {
  z-index: 1;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 480px;
  height: 80vh;
  margin-bottom: 4rem;
}

.header__background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 70vh;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
  z-index: 0;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  animation: headerAnimationSmall 1s forwards ;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__background--large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
  z-index: 0;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  animation: headerAnimation 1s forwards ;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 100%;
  padding: 0 10%;
  height: auto;
  margin: 3em 0 0;
  color: #fff;
}

.header__container .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 60%;
  min-width: 420px;
  background-color: rgba(255, 255, 255, 1);
  padding: 4rem;
  border-radius: 20px;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .form label {
  width: 100%;
  color: #000;
  display: none;
}

.header__container .form input {
  border: 1px #999 solid;
}

.header__container .form button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
}

.header__container .sign__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  width: 60%;
  min-width: 420px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 1rem;
  padding: 2rem;
  color: #000;
  border-radius: 20px;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.header__container .sign__container p {
  color: #999;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.sign__container .sign__button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #999;
  font-size: 1rem;
  color: #999;
  border-radius: 50px;
  background: transparent;
}

.sign__button a {
  color: #999;
}


.header__container .info__container h1 {
  font-size: 5rem;
}

.header__button {
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
}

.header__button a {
  color: #fff;
}


.section__container {
  position: relative;
  width: 100vw;
  height: auto;
  margin: 4rem 0;
  background-color: #fff;
  z-index: 2;
  animation: infoForm 2s forwards;
  -webkit-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
   -moz-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
     -o-transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
        transition-timing-function: cubic-bezier(0.135, 0.545, 0.915, 0.525);
}

.section__container .section__title {
  color: #1745ac;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 2rem;
  text-align: center;
}

.card__container {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  transition-duration: .25s;
}

.card__container:hover {
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
}

.card__container::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  height: 80%;
  width: 1px;
  background-color: #666;
  transform: translateX(-50%) translateY(-50%);
  opacity: .1;
}

.card__container .info__container {
  grid-column: 1;
  width: 100%;
  padding: 5% 10%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card__container:nth-of-type(even) .info__container{
  grid-column: 2;
  grid-row: 1;
}

.card__container h3 {
  color: #1745ac;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.card__container p {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.card__container .image__container {
  grid-column: 2;
  width: 100%;
  padding: 5% 10%;
}

.card__container:nth-of-type(even) .image__container{
  grid-column: 1;
  grid-row: 1;
}

.card__container img {
  width: 100%;
  height: auto;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
}

.footer__container {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: #999;
}

.footer__container .footer__button {
  position: relative;
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
  margin-left: 50%;
  transform: translateX(-50%);
}

.footer__container .footer__button a {
  color: #fff;
}

.left__panel {
  height: 100%;
  width: 25%;
  min-width: 325px;
  flex-basis: 25%
}

.left__panel .container {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.left__panel .account__container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 15px;
  background: #1745ac;
  background: -moz-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: linear-gradient(to right, #1745ac 0%, #3c89ff 100%);
  color: #fff;
  box-shadow: 0 1px 10px 0 rgba(0, 17, 25, 0.4);
  border-radius: 0 0 10px 10px
}

.left__panel .account__container .account__image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px #fff solid
}

.left__panel .account__container .account__name {
  margin: 0;
  margin-left: 1rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.left__panel .container .switcher__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem 15px;
}

.left__panel .container .switcher__container .switch__title {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  color: #666;
  list-style: none
}

.left__panel .container .switcher__container .switch__title:nth-of-type(2) {
  margin-left: 1rem
}

.left__panel .container .switcher__container .active {
  position: relative;
  transition-duration: 1s
}

.left__panel .container .switcher__container .active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #3c89ff
}

.left__panel .container .userBeerList {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  transition-duration: 1s;
  transform: translateX(0);
  position: absolute;
  top: 100px;
}

.left__panel .container .userBeerList.slideLeft {
  transform: translateX(-100%)
}

.left__panel .container .userBeerList .beer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 13px 25px;
  border-right: 5px solid #fff;
  transition-duration: .5s;
}

.left__panel .container .userBeerList .beer:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22);
  border-right: 5px solid #3c89ff;
}

.left__panel .container .userBeerList .beer .beer__image {
  height: 74px;
  width: auto;
  border-radius: 50%;
}

.left__panel .container .userBeerList .beer .beer__info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 1rem
}

.left__panel .container .userBeerList .beer .beer__info .info__title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem
}

.left__panel .container .userBeerList .beer .beer__info .info__text {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0
}

.left__panel .container .userBeerList .addbeer__button {
  align-self: center;
  width: 75%;
  color: #fff;
  font-weight: 300;
  margin-bottom: 3rem;
}

.left__panel .container .userBeerList .addbeer__button button {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
  background: -moz-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: linear-gradient(to right, #1745ac 0%, #3c89ff 100%)
}

.left__panel .container .userBeerList .addbeer__button button:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22)
}

.left__panel .container .matches__container {
  height: calc(100% - 40px);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(100%);
  transition-duration: 1s;
  position: absolute;
  top: 200px;
}

.left__panel .container .matches__container.slideLeft {
  transform: translateX(0%)
}

.left__panel .container .matches__container .match {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 25px
}

.left__panel .container .matches__container .match:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22);
  border-right: 5px solid #3c89ff
}

.left__panel .container .matches__container .match p {
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.left__panel .container .matches__container .user {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 25px;
  border-right: 5px solid #fff;
  transition-duration: .5s;
}

.left__panel .container .matches__container .user:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22);
  border-right: 5px solid #3c89ff;
}

.left__panel .container .matches__container .user .user__info {
  height: 74px;
  width: auto;
  border-radius: 50%;
}

.left__panel .container .matches__container .user .user__info {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 1rem
}

.left__panel .container .matches__container .user .user__info .user__name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem
}

.left__panel .container .matches__container .user .beer__info .beer__image {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0
}

.right__panel {
  flex: 1;
  height: 100%;
  background-color: #f5f7fa;
  border-left: 1px solid #e5e9ec;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

.right__panel .empty__state__container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.right__panel .empty__state__container .empty__text {
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.right__panel .empty__state__container button {
  padding: 13px 25px;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: #1745ac;
  background: -moz-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(left, #1745ac 0%, #3c89ff 100%);
  background: linear-gradient(to right, #1745ac 0%, #3c89ff 100%)
}

.right__panel .empty__state__container button:hover {
  box-shadow: 0 0 15px 0 rgba(129, 129, 129, 0.22)
}

.beer__search {
  position: absolute;
  width: 50%;
  top: 50%;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3)) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: .5s
}

.beer__search.active {
  position: absolute;
  width: 50%;
  top: 1rem;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3))
}

.beerResults{
  width: 200px;
  height: 400px;
  margin-right: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}



/*  Animations  */

@keyframes infoForm {
  0% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
  }
}

@keyframes headerAnimation {
  0% {
    width: 105vw;
    overflow: hidden;
    height: 50px;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  100% {
    width: 100vw;
    height: 100vh;
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
}

@keyframes headerAnimationSmall {
  0% {
    width: 105vw;
    overflow: hidden;
    height: 50px;
    -webkit-transform: skewY(0deg);
    transform: skewY(0deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  100% {
    width: 100vw;
    height: 70vh;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
}
