/* Sidebar styling */

.right__panel {
  width: 75vw;
  height: 100%;
  background-color: #f5f7fa;
  border-left: 1px solid #e5e9ec;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  padding: 4rem 0;
}

.recent__container {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.recent__container .beers__list {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.beers__list .beer__container {
  width: calc(100% - 33% - 10%);
  height: 12.5em;
  margin: 0 5% 2rem 0;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;

}

.beers__list .beer__container .beer__info {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  padding: .5rem;
  justify-content: space-between;
  background-color: rgba(80,80,80, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.beer__container .beer__info .info__title {
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.beer__container .beer__info .info__text {
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400
}

.beers__list .beer__container:nth-child(2) {
  width: 33%;
}

.beers__list .beer__container:nth-child(3) {
  width: 33%;
}

.beers__list .beer__container:nth-child(6) {
  width: 33%;
}

.beers__list .beer__container:nth-child(7) {
  width: 33%;
}



.search__container {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
}

.beer__search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: .5s;
}

.beer__search button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
}

.beer__search button a {
  color: #fff;
}

.beer__search.active {
  position: absolute;
  width: 50%;
  top: 1rem;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3))
}

.beerresult__container {
  width: 100%;
  height: 1em;
  animation: moveBeersIn 1s forwards;
}

.beerResult__list {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 200px;
  grid-column-gap: 2rem;
}

.beerResults{
  grid-row: 1;
  width: 200px;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}

.beerResults h2 {
  height: 2rem;
  text-overflow: clip;
  overflow: hidden;
}


.beerResults img {
  max-height: 100px;
  width: auto;
}

.beerResults .invisible {
  display: none;
}
