/* Sidebar styling */

.matches__container {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.matches__container--short {
  width: 100%;
  height: auto;
}

.matches__container--short ul {
  list-style: none;
  display: flex;
  text-align: center;
}

.matches__container ul {
  list-style: none;
}

.matches__container--short .user{
  width: 33%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 2rem;
}

.matches__container .user:first-child{
  width: 100%;
  height: auto;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: #1745ac;
  background: -moz-linear-gradient(right, #1745ac 0%, #3c89ff 100%);
  background: -webkit-linear-gradient(right, #1745ac 0%,#3c89ff 100%);
  background: linear-gradient(to left, #1745ac 0%,#3c89ff 100%);
}

.matches__container .user:nth-child(n+2) {
  width: 33%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.user__container {
  display: grid;
  flex-flow: row;
}

.user__container .user__info {

}

.beer__search {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition-duration: .5s;
}

.beer__search button {
  padding: .5rem 3rem;
  text-transform: uppercase;
  border: 2px solid #fff;
  font-size: 1rem;
  color: #fff;
  border-radius: 50px;
  background: transparent;
}

.beer__search button a {
  color: #fff;
}

.beer__search.active {
  position: absolute;
  width: 50%;
  top: 1rem;
  left: calc(100% / 3);
  transform: translateX(calc(-100% / 3))
}

.beerresult__container {
  width: 100%;
}

.beerResult__list {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: 200px;
  grid-column-gap: 2rem;
}

.beerResults{
  grid-row: 1;
  width: 200px;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}

.beerResults h2 {
  height: 2rem;
  text-overflow: clip;
  overflow: hidden;
}


.beerResults img {
  max-height: 100px;
  width: auto;
}

.beerResults .invisible {
  display: none;
}

.match__empty {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.match__empty p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
