/* Sidebar styling */

.matches__container {
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.matches__container--short {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem 0 0;
}


@media only screen and (min-width: 961px) {
  .matches__container--short {
    width: 100%;
  }
}

.matches__container--short .matchUl {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  text-align: center;
  padding: 0;
}

.matchUl {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  overflow-x: scroll;
  text-align: center;
  padding: 0;
}

ul {
  list-style: none;
}


.user {
  flex: 1;
  display: grid;
  position: relative;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px calc(17.5em - 100px);
  height: 17.5em;
  width: 100%;
  padding: 0rem;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.2);
}

.user--empty {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  height: 17.5em;
  width: 100%;
  padding: 0rem;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.2);
  transition-duration: .25s;
}

.user--empty:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
}

.user--empty h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #666;
}

.user:first-of-type {
  flex: 2;
  width: calc(400px + 1rem);
  grid-template-columns: 100px 1fr;
}

.matches__container--short .user{
  display: grid;
  position: relative;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px calc(17.5em - 100px);
  height: 17.5em;
  width: 100%;
  padding: 0rem;
  background-color: #fff;
  border-radius: 10px;
  margin-right: 1rem;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.2);
}

.matches__container--short .user:first-of-type{
  margin-left: 1rem;
}

 .user img {
  grid-column: 1;
  grid-row: 1;
  border-radius: 50%;
  height: 75%;
  width: 75%;
  margin: 12.5% 0 0 12.5%;
}

 .user h4 {
  grid-column: 2 / 3;
  grid-row: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #666;
  margin: 0;
  height: auto;
  align-self: center;
  padding-right: .5rem;
}

.beers--matchingList {
 grid-column: 1 / 3;
 grid-row: 2;
 width: 100%;
 height: 100%;
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: flex-end;
 padding: 0;
}

 .user ul {
  grid-column: 1 / 3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

.user ul span{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.user ul li {
  width: 100%;
  height: 7.5em;
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.2);
}

.user h5 {
  height: 2.5em;
  width: 100%;
  padding: .5rem;
  justify-content: space-between;
  background-color: rgba(80,80,80, 0.8);
  margin: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.match__empty {
  height: auto;
  width: auto;
  background-color: #fff;
  border-radius: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.match__empty p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
