/* Sidebar styling */


.left__panel {
  height: 100%;
  width: 25vw;
  background-color: #fff;
  border-right: solid 1px #EEEFF3;
}

.left__panel .user__container {
  height: 30%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5%;
  padding-left: 1rem;
  margin-top: 2rem;
}

.user__container .user__image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 1px #fff solid;
  margin-bottom: 2rem;
}

.user__container a {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}

.user__container .user__name {
  margin: 0;
  color: #666;
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
}

.user__container .user__username {
  margin: 0;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-weight: 500
}

.left__panel .routes__container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.routes__container .routes__list {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}

.routes__list a {
  color: #999;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.routes__list li {
  position: relative;
  padding-left: 20px;
}

.route {
  width: 100%;
  border-left: 5px solid transparent;
  transition-duration: .25s;
}

.route.active {
  border-left: 5px solid #666;
  color: #666;
}

.route.active svg g g{
  stroke: #666;
}

.route.active svg g g g path{
  fill: #666;
}

.route svg {
  margin-right: 20px;
}

.route:hover {
  border-left: 5px solid #999;
}

.routes__container button {
  margin-left: auto;
  margin-right: auto;
}
