<% include partials/head.ejs %>
<title><%= user.username %>'s account</title>

<main>
  <div class="left__panel">
    <% include partials/sidebar.ejs%>
  </div>

<div class="right__panel">

  <form action="/:id" method="post" enctype=multipart/form-data> <input type="text" name="name" value="<%- user.username %>">
    <input name=photo type=file accept=image/*>
    <button type="submit" name="button">change</button>
  </form>

  <a href=/log-out>Log out</a> </div>

</main>
