<% include partials/head.ejs %>
<title>Log-in</title>
<div class="body__container">
  <form class="form" action=/log-in method=post>
    <label>
      Username
      <input name=username>
    </label>
    <label>
      Password
      <input name=password type=password>
    </label>
    <button>Log in</button>
  </form>
</div>
