<!doctype html>
<link rel=stylesheet href=assets/styles/index.css>
<title>404 page not found</title>
<nav class="navigation">
  <img class="navigation__image" src="assets/images/logo.png" alt="logo Drinkers">
</nav>

<div class="body__container">

  <h2 class="container__text">This page doesn't exist.</h2>
  <button class="container__button" type="button" name="button"><a href= />Go back home</a></button>

</div>
